workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -288
      ],
      "id": "170fca8c-6577-45b3-a00e-5d0628a6ecac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yVM9-7dnVoUOfEmDMud1YVX7b7GAhy5L",
          "mode": "list",
          "cachedResultName": "n8n測試",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yVM9-7dnVoUOfEmDMud1YVX7b7GAhy5L"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        -272
      ],
      "id": "d926c2ae-5656-4e55-86b7-ec64f9b19c38",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITx5we8MnQbT23Nq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -288
      ],
      "id": "909f9a90-936f-4978-b518-df605e21387f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "formTitle": "Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "員工姓名",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "2d7f92ab-50a5-41a2-b9d9-2a3ff1ec38d6",
      "name": "Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -480,
        -624
      ],
      "webhookId": "622256ee-9248-43a2-840e-b28436800aac",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1HShlA0nnLMacCtel5W6JAOUqx1GdySEgFuGv4f5kb5M",
          "mode": "list",
          "cachedResultName": "薪資明細模板",
          "cachedResultUrl": "https://docs.google.com/document/d/1HShlA0nnLMacCtel5W6JAOUqx1GdySEgFuGv4f5kb5M/edit?usp=drivesdk"
        },
        "name": "={{ $json['員工編號'] }}_{{ $now.extract('year') - 1911 }}.{{ $now.format('MM') }}_{{ $json['身分證字號'] }}",
        "options": {}
      },
      "id": "2d0a1ccb-6660-4d48-bedf-bcf888bec6cf",
      "name": "Copy template file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        416,
        -272
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITx5we8MnQbT23Nq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = [];\nconst allItems = $('Loop Over Items').all();\n\nallItems.forEach((item) => {\n  Object.keys(item.json).forEach((bodyProperty) => {\n    data.push({\n      key: bodyProperty,\n      value: item.json[bodyProperty],\n    });\n  });\n});\n\n// 加上年月\ndata.push({\n  key: \"current_year_month\",\n  value: $('取得年月').item.json.current_year_month\n})\n\nreturn {\n  webhook_data: data,\n  pairedItem: 0,\n};"
      },
      "id": "2086f79a-2e48-4692-9d0c-48ed3a103fca",
      "name": "Format form data",
      "type": "n8n-nodes-base.code",
      "position": [
        640,
        -272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\n$('Format form data').all().map((item) => {\n  item.json.webhook_data.map((data) => {\n    if (\"submittedAt\" !== data.key && \"formMode\" !== data.key) {\n      result.push({\n        \"replaceAllText\": {\n            \"containsText\": {\n              \"text\": `{{${data.key}}}`, \n              \"matchCase\": true\n            },\n            \"replaceText\": `${data.value}`\n        },\n      });\n    }\n  });\n})\n\nreturn {\n  data: result,\n  pairedItem: 0,\n};"
      },
      "id": "b944069b-d49b-4798-9b62-094777bcaff5",
      "name": "Format form data to Google Doc API",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        -272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Copy template file').first().json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e897efd-a0c4-48e0-bef0-5659f653510b",
      "name": "Replace data in Google Doc",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1056,
        -272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "C6uYVWRZD5aygnUP",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy template file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        -272
      ],
      "id": "6ab385c1-c254-4edc-a379-3b05fa6590b8",
      "name": "移除 Word",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITx5we8MnQbT23Nq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy template file').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        -272
      ],
      "id": "0b3efe8b-9ac5-413c-9dbf-15e5a5fa6b3f",
      "name": "下載並轉成 PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ITx5we8MnQbT23Nq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## TODO \n- [x] 加密\n  > - 看起來只有 JS 可以拿到 Binary，所以必須要用 JS 加密 PDF\n  > - 要研究一下怎麼安裝第三方 Node.js 套件到 n8n\n- [ ] 人工確認\n  > - 或許需要逐一的人工確認 PDF 內容正確\n  > - 或許可以在 PDF 都建立完成之後發通知要求確認?\n  > - 人工確認的 node 要測試一下\n- [ ] 模板\n  > - 有幾種模板?\n  > - 模板的樣式要更新，或許可以試試看先用 word 做好再上傳，\n        希望這套流程後不會跑版\n- [ ] 寄信\n  > - 不知道除了 Gmail API 之外，還能怎麼寄信\n  > - 希望公司的信箱可以批量寄信",
        "height": 400,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -864
      ],
      "typeVersion": 1,
      "id": "6a6c7651-4342-44c6-a31b-299b09e93d90",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const muhammara = require(\"muhammara\");\nconst { PDFWStreamForBuffer, PDFRStreamForBuffer } = require(\"muhammara\");\n\nfunction encryptPDF(source, password) {\n  return new Promise(function (resolve, reject) {\n    try {\n      let input = new PDFRStreamForBuffer(source);\n      let output = new PDFWStreamForBuffer();\n      muhammara.recrypt(input, output, {\n          password: password,\n          userPassword: password,\n          ownerPassword: password,\n          userProtectionFlag: 4\n      });\n      resolve(output.buffer);\n    } catch (e) {\n      reject(e);\n    }\n  });\n}\n\n// 1. 獲取前一個節點的二進位資料\nconst inputBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// 2. 加密\nconst encryptedPDF = await encryptPDF(inputBuffer, $('Loop Over Items').first().json['身分證字號'])\n\n// 3. 將結果回傳給 n8n\nconst filename = `${$('Loop Over Items').first().json['員工編號']}_${$('取得年月').first().json.current_year_month}.pdf`\nreturn [\n  {\n    binary: {\n      data: {\n        data: encryptedPDF.toString('base64'),\n        mimeType: 'application/pdf',\n        fileName: filename,\n        fileExtension: 'pdf'\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -272
      ],
      "id": "3e3eb9c0-4cf0-41bd-a4b8-c09261333fba",
      "name": "加密PDF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae84fd5a-483b-4296-a17e-366eea5939a5",
              "name": "current_year_month",
              "value": "={{ $now.extract('year') - 1911 }}.{{ $now.format('MM') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -288
      ],
      "id": "08b6d527-e4c0-45d7-9d0f-6d0a512e6286",
      "name": "取得年月"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_rzBaHawoW8RNehQLyJ12j3pHfZfB5TmPjPHOPaoMQA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_rzBaHawoW8RNehQLyJ12j3pHfZfB5TmPjPHOPaoMQA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -288
      ],
      "id": "6ffba2d7-dead-42e5-b91f-de8b51d8d33f",
      "name": "讀取員工資料",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VQFM8oR2Px6xVtvs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        -576
      ],
      "id": "ca942460-7362-4874-a5e1-8c6679bc7b37",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1072,
        -560
      ],
      "id": "60eb519e-ad05-44af-a772-2ec5398902f8"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\n# for item in _items:\n#   item[\"json\"][\"my_new_field\"] = 1\nprint(\"12345\")\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -752
      ],
      "id": "2875dfab-eb30-48ec-b576-6ee8dbbd5ed8",
      "name": "Code in Python (Native)"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "PDF建立完畢",
        "options": {
          "username": "薪資單小助手",
          "wait": true
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        416,
        -752
      ],
      "id": "56ac7cc7-b7a2-4bc6-8ec3-7c8005d273dd",
      "name": "DC",
      "webhookId": "69a20573-bfca-474c-8a66-64588d836e44",
      "credentials": {
        "discordWebhookApi": {
          "id": "vW0VwAZTsfVOTlvY",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1284460735203643477",
          "mode": "list",
          "cachedResultName": "2024 iTHome鐵人賽",
          "cachedResultUrl": "https://discord.com/channels/1284460735203643477"
        },
        "channelId": {
          "__rl": true,
          "value": "1458838981914525728",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1284460735203643477/1458838981914525728"
        },
        "message": "PDF加密完畢",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        400,
        -576
      ],
      "id": "4e334a01-a432-41d6-86ec-b550784377df",
      "name": "Discord 通知",
      "webhookId": "db4b508e-3835-426b-8812-520bac8cced2",
      "credentials": {
        "discordBotApi": {
          "id": "QeqBirY67gim4SSg",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## TODO\n1. 取得 loop 清單\n2. 逐一寄信，並附加 PDF 檔案",
        "height": 112,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -704
      ],
      "typeVersion": 1,
      "id": "14171dd1-9b76-4f6b-beed-e7f17ed2fe15",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 建立加密薪資單",
        "height": 208,
        "width": 1648
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -320
      ],
      "typeVersion": 1,
      "id": "77a1cbb0-ac07-4c3e-ac29-5ed523cde13d",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "取得年月",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "移除 Word",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Discord 通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Copy template file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        []
      ]
    },
    "Copy template file": {
      "main": [
        [
          {
            "node": "Format form data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format form data": {
      "main": [
        [
          {
            "node": "Format form data to Google Doc API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format form data to Google Doc API": {
      "main": [
        [
          {
            "node": "Replace data in Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace data in Google Doc": {
      "main": [
        [
          {
            "node": "下載並轉成 PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "移除 Word": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載並轉成 PDF": {
      "main": [
        [
          {
            "node": "加密PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "加密PDF": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得年月": {
      "main": [
        [
          {
            "node": "讀取員工資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取員工資料": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code in Python (Native)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DC": {
      "main": [
        []
      ]
    },
    "Discord 通知": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4440cf90-8cc4-40ab-857f-1a075408a6ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55c73cb3c82687e74c3c24e5e98b8bc507de0057bc91ca7ee080dc891be51b6a"
  },
  "id": "BgzxCPjqNZk1BkRN",
  "tags": []
}